fastapi
uvicorn[standard]
langchain
langchain-google-genai
langchain-groq
langgraph
pydantic-settings
python-dotenv
sqlalchemy
tzdata
alembic
asyncpg
uuid-utils
slowapi
PyJWT[crypto]
pytest
pytest-asyncio
httpx
aiosqlite
